

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BLGloginserv.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
            
            <div id="rectangle1"></div> 
            <div id="rectangle2"></div>
            <a href="/Login"><button class="loginbut">Login</button></a>
            <a href="/Index"><img src="/BLGlogo.svg" id="logo"/></a>
            <a href="/Index"><button class="sidebarbut" style="top: 20%";>Home</button></a>
            <a href="/About"><button class="sidebarbut" style="top: 30%";>About us</button></a>
            <button class="sidebarbut" style="top: 40%">Contact</button>
            <button class="sidebarbut" style="top: 50%">Shop</button>
            <button class="sidebarbut" style="top: 60%">Current games</button>
            
            
            
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>