@page
@model IndexModel
@{
    ViewData["Title"] = "Blue Leaf Games - About us";
}<head>
    
</head>
<body>
    <p id="text";>We are a group of teenagers who enjoy coding and making games and want to make our own.</p>
</body>
